.diceList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.die {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}